


   /*
 
       *relleno(padding), el espacio alrededor del contenido (ej: alrededor del texto de un párrafo)

        *marco(border), la línea que se encuentra fuera del relleno
        *margen(margin), el espacio fuera del elemento que lo separa de los demá

       * width (ancho del elemento)

       * background-color, el color de fondo del contenido y del relleno
        
       *color, el color del contenido del elemento (generalmente texto)
        
       *text-shadow: coloca una sombra difuminada en el texto dentro del elemento
        
       *display: selecciona el modo de visualización para el elemento (no te preocupes de esto por ahora)
       
    */

    
#hoja{
  width: 900px;
  height: 900px;

 
 
}
#titulo,#text{
  border: 5px solid  black ;
  
}

  #titulo{
     width: 800px;
     height: 180px;
     margin: auto auto;
     text-align: center;
     padding: 10px 5px;
     background-image: url(imagenes/naruto_index.jpg)
  
    }
#iTL{
  font-size: 25px;
  letter-spacing: 10px;
  margin: auto auto;
}


#text{
  width: 996x;
  height: 450px;
  margin: auto auto;
  background-size: auto auto;
  background-position: center center;
}